body {
    color: #333;
}


#invalid {
    border: 1px solid red ;
}
#valid {
    border: 1px solid green ;
}
.input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
}
.visa {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ac/Old_Visa_Logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    opacity: 0.25;
}
.mir {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Mir_Pay_logo.png/112px-Mir_Pay_logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    opacity: 0.25;
}
.mastercard {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/200px-Mastercard_2019_logo.svg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    opacity: 0.25;
}
.union {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/UnionPay_logo.svg/160px-UnionPay_logo.svg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    opacity: 0.25;
}
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    margin-top: 10px;
}


.contact-main {
    display: flex;
    align-items: center;
    gap: 7px;
}

